h1{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    border: 2px solid;
    max-width: 400px;
    max-height: 400px;

    
}
#cell{
    height: 10px;
    width: 10px;
    margin: 0px;
    color: rgb(30, 45, 59);
    
}
#border{
    display: flex;
    justify-content: center;
    
}

