h1{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    border: 2px solid;
    width: 801px;
    height: 801px;
    position: relative;

    
}
#cell{
    height: 55px;
    width: 55px;
    margin: 0px;
    color: rgb(30, 45, 59);
    background-color: rgb(138, 138, 138)
    
}
#border{
    
    display: flex;
    justify-content: center;
    
}

