body{
    text-align: center;
}

h1{
    font-weight: 900;
    color: #000000;
    text-decoration:underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}
#border{
    border-radius: 10px;
    background-color: #1d96a9;
    height: 1000px;
    width: 1000px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
#container{

    display: flex;
    border: 5px solid;
    border-radius: 10px;
    width: 800px;
    height: 800px;
}
#cell{
    border: solid 0px #1d96a9;
    border-radius: 2px;
    margin: 0px;
    color: rgb(30, 45, 59);
    background-color: rgb(255, 255, 255);
}

#input-container{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#eraser-div{
    height: 20px;
    width: 50px;
}
input#eraser{
    margin-left: 20px;
    height: 50px;
    width: 50px;
    
}
#eraser-label{
    margin-left: 23px;
}
#eraser:checked +#eraser-div{
    transform: scale(1.2);
   
}
#rainbow-div{  
    height: 20px;
    width: 60px;
}
input#rainbow{
    margin-right: 20px;
    height: 50px;
    width: 50px;
        
}
#rainbow:checked +#rainbow-div{
    transform: scale(1.2);
}
#slider-value{
    font-size: 25px;
    text-align: center;
}
#grid-size{
    height: 500px;
    direction: rtl;
    appearance: slider-vertical;
    cursor: pointer;
}
#container-range{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;

}
#Reset-Btn:hover{ 
    background-color: #1d96a9;
    opacity: 1;
    transform: scale(1.1);
    
}
#Reset-Btn{
    background-color: #1d96a9;
    opacity:.9;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    height: 100px;
    width: 60px;
}
#color-input{
    border-radius: 10px;
    border: none;
    font-size: 15px;
    height: 100px;
    width: 60px;
}
#color-input:hover{ 
    background-color: rgba(0, 119, 255, 0.82)
}

#select-color{
    margin: 15px;
    height: 100px;
    width: 50px;
}

